@charset "utf-8";
/* CSS Document */

body {
		background-color:#333333;
		margin:0;
	}
	
	/* Firefox Dotted Outline Fix */
	a:active { 
		outline: none; 
	}
	
	/* Firefox Dotted Outline Fix */
	a:focus { 
		-moz-outline-style: none; 
	}
	
	/* Menu Body */
	ul#menu {
		width:80%;
		height:102px;
		background:url(../img/bg2.png) repeat-x;
		list-style:none;
		margin:0;
		padding:0;
		padding-top:15px;
		padding-left:21%;
	}
	
	/* Float LI Elements - horizontal display */
	ul#menu li {
		float:left;
	}
	
	/* Link - common attributes */
	ul#menu li a {
		background:url(../img/sprite2.png) no-repeat scroll top left;
		display:block;
		height:55px;
		position:relative;
	}
	
	/* Specify width and background position attributes specifically for the class: "home" */
	ul#menu li a.home {
		width:157px;
	}
	
	/* Specify width and background position attributes specifically for the class: "portfolio" */
	ul#menu li a.telbook {
		width:157px;
		background-position:-157px 0px;
	}
	ul#menu li a.birthday {
		width:157px;
		background-position:-314px 0px;
	}
	
	ul#menu li a.notice {
		width:157px;
		background-position:-471px 0px;
	}
	ul#menu li a.movie {
		width:157px;
		background-position:-629px 0px;
	}
	
	/* Span (on hover) - common attributes */
	ul#menu li a span {
		background:url(../img/sprite2.png) no-repeat scroll bottom left;
		display:block;
		position:absolute;
		top:0;
		left:0;
		height:100%;
		width:100%;
		z-index:100;
	}
	
	/* Span (on hover) - display pointer */
	ul#menu li a span:hover {
		cursor:pointer;
	}
	
	/* Shift background position on hover for the class: "home" */
	ul#menu li a.home span {
		background-position:0px -55px;
	}
	
	/* Shift background position on hover for the class: "portfolio" */
	ul#menu li a.telbook span {
		background-position:-157px -55px;
	}
	
	ul#menu li a.birthday span {
		background-position:-314px -55px;
	}
	ul#menu li a.notice span {
		background-position:-471px -55px;
	}
	ul#menu li a.movie span {
		background-position:-628px -55px;
	}